# Node dependencies and build outputs
node_modules
dist
build

# Environment variables (VERY important)
.env
.env.*

# Logs
npm-debug.log
yarn-debug.log
*.log

# Git and version control
.git
.gitignore

# Tests and dev tools
tests/
coverage/
.vscode/
.idea/

# Docs and misc
README.md
*.md

# Docker-related
.dockerignore
docker-compose.yml
